<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCs3ty8V7r2XnnPUHLaLs4dG1FfxFtR9l4</string>
	<key>GCM_SENDER_ID</key>
	<string>875242430711</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.irc.touralie</string>
	<key>PROJECT_ID</key>
	<string>irclinic-82650</string>
	<key>STORAGE_BUCKET</key>
	<string>irclinic-82650.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:875242430711:ios:66db03bee0e35b66ca73f2</string>
</dict>
</plist>